<div>
    <h2>All Blog Posts</h2>
    <% @blog_posts.each do |blog_post| %>
        <div>
            <div class="flex justify-between items-center">
                <h2 class="my-2 flex-1"><%= link_to blog_post.title, blog_post %></h2>

                <% if blog_post.draft? %>
                    <div class="bg-gray-300 rounded-xl px-2">
                        Draft
                    </div>

                <% elsif blog_post.scheduled? %>

                    <div class="bg-slate-400 rounded-xl px-2">
                        Scheduled
                    </div>

                <% end %>
                
            </div>
            <p><%= blog_post.body %></p>
        </div>
    <% end %>

    <%= button_to "new post", new_blog_post_path, method: :get, class: "bg-gray-100 px-4 py-2 rounded hover:bg-gray-400" if user_signed_in? %>
</div>